# add_ace group.admin donator.admin allow
# add_ace group.god donator.admin allow
# add_principal identifier.license:YOUR_LICENSE donator.admin
# Tebex runs tbxgems / tbxpackage / givegems / givepackage / gemgrant / gempackage / givecoinsid as console (no ACE needed).
